# program sampprd not to be checked in
# samples

# data files
*.csv
# Binaries for programs and plugins
marketview
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
__debug_bin
